#font{
    font-size: large;
}
#button{
   text-align: right;
   padding: 30px;
}
.rounded-pill{
    padding: 1px;
    margin: 3px;
}
#adv-search{
    color: rgb(217, 48, 37);
    font-size: xx-large;
}
#search_for{
    font-size: 1.3rem;
}
#topright1{
    position: absolute;
    top: 0px;
    right: 150px;
    margin: 40px;
    width: 200px;
    height: 200px;
    font-size: x-large;
    }
#topright2{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 40px;
    font-size: x-large;
    }
.search{
text-align: center;
margin: 300px;

}

@media(max-width:750px){
    #search_box{
        font-size: large;
        padding: 10px;
        width: 200px;    
                }
    #search_button{

        font-size: small;
        background-color: rgb(13, 64, 220);
        padding: 10px;
        color: aliceblue;
        margin: 10px;
        
    }
}
@media(min-width:750px){
    #search_box{
        font-size: large;
        padding: 10px; 
        width: 450px;
      } 
    #search_button{

        font-size: medium;
        background-color: rgb(13, 64, 220);
        padding: 10px;
        color: aliceblue;
        margin: 10px;
        width: 150px;
        
    }   
}