{% extends "auctions/layout.html" %}

{% block body %}
<h2>Categories</h2><br>
    <div>
    <form action="{% url 'categories' %}" method="POST">
        {% csrf_token %} 
        <label for="cars">Choose a category: </label>
        <select name="category" class="form-select" aria-label="Default select example">
            {% for cat in categories %}
            <option value="{{cat}}">{{cat}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Select</button>
    </div>
{% endblock %}