{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    
    <form action="{% url 'create' %}" method='POST'>
        {% csrf_token %}
      <label >Title:</label><br>
      <input type="text" name="title" ><br>
      
      <label >Description:</label><br>
      <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="9"></textarea><br><br>
      
    <label >Start bid:</label><br>
      <input type="number" min="0" name="start_bid" ><br>
    <label >Image URL :</label><br>
      <input type="text" name="image_url" ><br><br>
      <div class="form-group">
        <label>Category</label>
        <select name="category" class="form-select" aria-label="Default select example">
          <option selected>Select</option>
            {% for category in categories%}
                <option value="{{category}}">{{category}}</option>
            {% endfor %}
        </select>
    </div>
      <input type="submit" value="Create new Listing" class= "btn btn-primary">
      
      
    </form> 

{% endblock %}