{% extends "encyclopedia/layout.html" %}

{% block title %}
New page
{% endblock %}

{% block body %}

<h1>Edit Page</h1>
    
<form action="{% url 'edit' %}" method='POST'>
    {% csrf_token %}
  <label >Title:</label><br>
  <input type="text" name="title" value="{{title}}"><br>
  <label >Content/Body:</label><br>
  <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="11">{{content}}</textarea><br><br>
  <input type="submit" value="Edit" class= "btn btn-primary">
</form> 

{% endblock %}