{% extends "encyclopedia/layout.html" %}

{% block title %}
New page
{% endblock %}

{% block body %}

<h1>New Page</h1>
    
<form action="{% url 'newpage' %}" method='POST'>
    {% csrf_token %}
  <label >Title:</label><br>
  <input type="text" name="title" ><br>
  <label >Content/Body:</label><br>
  <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="11"></textarea><br><br>
  <input type="submit" value="Create a new page" class= "btn btn-primary">
</form> 

{% endblock %}